* {
  color:whitesmoke;

  font-family: 'Times New Roman', Times, serif;
  font-size: 25px; 
}

body{background-image:url("../img/img1.jpg");
    background-size:cover;
  }

h1{text-align: center;
  text-decoration: underline;
  font-size: 40px;
  }
   
#gif2{
  width: 20%;
  height: 200px;
  border: 3px solid white;
  padding: 20px;
  float:inline-end;
}

#link-ragu:link{color:red}
#link-ragu:visited{color:tomato}
#link-bechamel:link{color:red}
#link-bechamel:visited{color:tomato}


#button1{
  width: 100vw;
  height: 6.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;}

  
.subtitle{
  text-align: center;
  margin: 80px;
}
  button{
     
    border: 20px solid black;
    border-radius: 5px;
    background-color:black;
    font-size:20px;
    font-weight: 700;
    text-align: center;
    transition: font-size 1s ease 0.25s;
  transform: translate(90px, 20px);}
  
    button:hover {
    font-size:30px;
    cursor: pointer;}
  
   .ingrediente{margin:30px;}
  
  .ingred{margin:50px;
  }
    
    h2{text-decoration: underline;}
    
    .flex{display:flex;
      flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  align-items: center;}

  #grid-container{
    margin:10px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto ;
   grid-gap:300px 150px; 
  }
  #subtitle2{ text-align: start;}
  #contact{
    display:grid;
    margin: 50px;
  }
  
    
    

  
  


  
    














 