* {
  color:whitesmoke;font-family: sans-serif;
  
  
  
}
body{background-image:url("../img/img1.jpg");
background-size:cover;
}
h1{text-align: center;}
  

div{text-align: center;}
  




  
  img {
  width: 500px;
 height: 300px;
 
}
 

#link-ragu:link{color:red}
#link-ragu:visited{color:tomato}

#link-bechamel:link{color:red}
#link-bechamel:visited{color:tomato}

#button1{
  width: 100vw;
  height: 6.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  

}
button{
  
  border: 1px solid black;
  border-radius: 5px;
  background-color:black;

  font-size: small;
  text-align: center;
  transition: font-size 1s ease-out 0.25s;
}
button:hover {
  font-size: x-large;
  cursor: pointer;
}















 